__pycache__/

*.pyc
*.pyo
*.pth
*.pt
*.npy
*.npz
*.csv
*.png
*.pdf
*.h5
*.gif
*.svg
*.json
*.codex

.DS_Store
Dataset/*
!Dataset/.gitkeep
!Dataset/collinear_flow_Re40/DataCollinearRe40.h5
outputs/
logs/

TODO.md
Check.py
models_bk.py
